{#
TODO: reuse your unit from Lab 1
TODO: Path to jar should use variables {{ app_dir }}/{{ app_file }}
TODO: Environment variable for PORT should use value from variable {{ app_port }}
#}
[Unit]
Description=lab3
Requires=network-online.target
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=java -jar "{{ app_dir }}/{{ app_file }}"
User=artem
Restart=on-failure
RestartSec=5s
Environment="PORT="{{ app_port }}""
